@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;1,500&family=Lobster&family=Pacifico&family=Poppins:wght@500&family=Roboto:wght@300&family=Ubuntu:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Kanit', sans-serif;
}

body {
    background: linear-gradient(130deg, green, blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78rem;

    /* filter: blur(1); */
}

.wrapper {
    width: 50rem;
    padding: 5rem 4rem;
    background-color: rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    filter: drop-shadow(2px 2px 4px black);
    border-radius: 4rem;
}

span img {
    width: 22rem;
    filter: drop-shadow(2px 4px 6px black);
}

.fade {
    opacity: 1;
    transition: opacity 2s;
}

p {
    color: white;
    font-size: 2rem;
    text-align: center;
    opacity: 0;
}

button {
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-shadow: 0.1rem 0.2rem 0.1rem gray;
    background: linear-gradient(45deg, #04fdff, #ef9713);
    outline: 0;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem 0rem white;
    cursor: pointer;
}

@media (max-width:520px) and (min-width:250px) {
    html {
        font-size: 5px;
    }

    body {
        height: 131rem;
    }

    .wrapper {
        height: 97rem;
        gap: 5rem;
    }

    p {
        font-size: 3.3rem;
    }

    button {
        padding: 2rem;
        font-size: 2.4rem;
        border-radius: 2rem;
    }

    span img {
        width: 31rem;
    }
}